nav{
  background-color: rgb(63, 63, 115);
  color: white;
  display: flex;
  justify-content: center;
}

form{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 20px;
  width: 80%;
  margin-left: 15%;
  
}

form input{
  width: 30%;
  height: 30px;
  border: 2px solid;
  border-color:rgb(63, 63, 115) ;
}
form button{
  background-color: rgb(63, 63, 115);
  font-weight: bold;
  color: white;
  
}

.weatherData{
  display: flex;
 align-items: center;
 flex-direction: column;
 width: 54%;
 height: 350px;
 margin-left: 27%;
 margin-top: 50px;
 border: 4px solid rgb(63, 63, 115) ;
 border-radius: 20px;

}

img{
  width: 35%;
  height: 150px;
  display: flex;
  justify-items: center;
  
 
}


.data{
  display: flex;
justify-content: center;
gap: 20px;

 
}

.heading{
  color:rgb(3, 15, 70) ;
}

.values{
  color: green;
}